<h1>Recipes show</h1>



    <div>
        <h1><%= @recipe.title %></h1>
    </div>

    <div>
        <h4><%= @recipe.name %></h4>
    </div>

    <div>
        <p><%= @recipe.description %></p>
    </div>
    <div>
        <p><%= @recipe.created_at %></p>
    </div>