
    <div>
        <p>Welcome to shai Books</p>
    </div>


    <div>
        <h3>Recipe Book</h3>
    </div>



    <div class="recipe-index-pic-wrapper">

        <% @recipes.each do |recipe| %>

            <div class="recipe-index-pic">

                <% if recipe.image.attached? %>
                    <%= link_to (image_tag recipe.image), recipe_path(recipe) %>
                <% end %>

                <div class="index-author">
                    Author: <%= recipe.name %>
                </div>
            </div>


        <% end %>
    </div>






    <div>
        <%= link_to "Add new recipe ", new_recipe_path %>
    </div>

<div></div>
<div></div>
<div></div>
