/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
    * {

        margin:0;
        padding: 0;
    }
    


 .nav-wrapper {


    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 10vh;



    .logo {
        width: 30%;
        //background-color: rebeccapurple;
        font-size: 2.5em;
        font-weight: bold;
    }

    .nav-items {

        //background-color: saddlebrown;
        max-width: 60%;
        padding: 20px;
        


        .nav-list {
            display: inline;
            font-size: 1.2em;
            padding: 10px;
        }
    }
 }