

<nav class="nav-wrapper">

    <div class="logo">Poject</div>

    <ul>
        <li class="nav-list">News</li>
        <li class="nav-list">Categories</li>
        <li class="nav-list">Imprint</li>
        <li class="nav-list">Data protection</li>
    </ul>

</nav>