

<nav class="nav-wrapper">

    <div class="logo">Project</div>

    <ul class="nav-items">
        <li class="nav-list">News</li>
        <li class="nav-list">Categories</li>
        <li class="nav-list">Imprint</li>
        <li class="nav-list">Data protection</li>
    </ul>

</nav>